You are logged in!

<%= link_to "Update information", edit_user_path(current_user) %>

<%= form_for @tweet do |f| %>
  <%= f.text_field :message %>
  <%= f.submit "Tweet" %>
<% end %>

<%= form_for @search do |f| %>
  <%= f.text_field :query %>
  <%= f.submit "Search" %>
<% end %>

<div id="wall">
  <h1>Your wall</h1>
  <% @tweets.each do |tweet| %>
    <p> 
      <%= tweet.user.email %>:
      <%= tweet.message %> 
    </p>
  <% end %>
</div>
