<!DOCTYPE html>
<html>
<head>
  <title>Twitter4Zombies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2><%= flash[:notice] %></h2>


<nav id="home-nav">
  <% if signed_in? %>
    <%= link_to "Home", "/" %>
    <%= link_to "Sign out", session_path, method: :delete %>
    <%= form_tag("/searches", method: "post") do %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search" %>
    <% end %>

  <% else %>
    <%= link_to "Sign in", new_session_path %>
    <%= link_to "Sign up", new_user_path %>
  <% end %>
</nav>


<%= yield %>

</body>
</html>
